.button {
  color: white;
  width: 30%;
  background-color: #e4046b;
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
}

ul li {
  list-style: none;
}

@media only screen and (max-width: 600px) {
  .button {
    width: 70%;
  }
}
